<div ng-controller="TeamsCtrl as teams">

    <h5 ng-hide="teams.hasTeams()">You have no related teams at the moment. Please create or find ones.</h5>

    <div ng-show="teams.hasTeams()">
        <h3 >My teams</h3>

        <uib-accordion close-others="true">
            <uib-accordion-group heading="{{team.name}} [{{team.sport}}] {{team.is_capitan}}" ng-repeat="team in teams.getTeams()">
                <div ng-repeat="player in team.players">{{player.name}}</div>
            </uib-accordion-group>
        </uib-accordion>
    </div>

    <div>
        <a class="btn btn-info btn-sm">Add new team</a>
        <a class="btn btn-info btn-sm">Find team</a>
    </div>

</div>
