<div style="margin:10px;">
    <div class="text-center" ng-show="game.current_player_status == 'unknown'">
        <button type="button" class="btn btn-success" ng-click="presenceCtrl.joinGame(game.game.id)">
            Join
        </button>
        &nbsp; or &nbsp;
        <button type="button" class="btn btn-danger" ng-click="presenceCtrl.rejectGame(game.game.id)">
            Deny
        </button>
    </div>

    <div class="text-center" ng-show="game.current_player_status == 'joined'">
        <button type="button" class="btn btn-success" disabled="disabled">
            &nbsp;Joined&nbsp;&nbsp;
        </button>
        <button type="button" class="btn btn-default btn-xs" ng-click="presenceCtrl.rejectGame(game.game.id)">
            Reject
        </button>
    </div>

    <div class="text-center" ng-show="game.current_player_status == 'rejected'">
        <button type="button" class="btn btn-danger" disabled="disabled">
            &nbsp;Rejected&nbsp;
        </button>
        <button type="button" class="btn btn-default btn-xs" ng-click="presenceCtrl.joinGame(game.game.id)">
            Join
        </button>
    </div>
</div>