<div style="margin:10px;">
    <div class="text-center" ng-show="game.current_player_status == 'unknown'">
        <button id="joinUnknownButton" type="button" class="btn btn-success" ng-click="presenceCtrl.joinGame(game)">
            Join
        </button>
        &nbsp; or &nbsp;
        <button id="rejectUnknownButton" type="button" class="btn btn-danger" ng-click="presenceCtrl.rejectGame(game)">
            Deny
        </button>
    </div>

    <div class="text-center" ng-show="game.current_player_status == 'joined'">
        <button type="button" class="btn btn-success" disabled="disabled">
            Joined
        </button>
        <button id="rejectJoinedButton" type="button" class="btn btn-default btn-xs" ng-click="presenceCtrl.rejectGame(game)">
            Reject
        </button>
    </div>

    <div class="text-center" ng-show="game.current_player_status == 'rejected'">
        <button id="joinRejectedButton" type="button" class="btn btn-default btn-xs" ng-click="presenceCtrl.joinGame(game)">
            Join
        </button>
        <button type="button" class="btn btn-danger" disabled="disabled">
            Rejected
        </button>
    </div>
</div>