<h3 class="text-center">Coming games</h3>

<ul class="nav nav-tabs nav-justified">
    <li role="presentation" ng-class="{active: dashboardCtrl.isFilterActive(1)}"><a href="" ng-click="dashboardCtrl.changeFilterDays(1)">Today</a></li>
    <li role="presentation" ng-class="{active: dashboardCtrl.isFilterActive(4)}"><a href="" ng-click="dashboardCtrl.changeFilterDays(4)">3 days</a></li>
    <li role="presentation" ng-class="{active: dashboardCtrl.isFilterActive(0)}"><a href="" ng-click="dashboardCtrl.changeFilterDays(0)">All</a></li>
</ul>

<div class="panel panel-default" style="margin-top:-1px; padding:5px;">

    <div class="well well-sm" ng-repeat="game in games | filter:dashboardCtrl.filterGamesByDate | orderBy:'date' ">
        <game-info></game-info>
        <game-presence></game-presence>
        <players-summary></players-summary>
    </div>

    <div class="alert alert-info" style="margin-top: 20px;" role="alert" ng-hide="games.length">
        You have no planned games<strong>{{ dashboardCtrl.getFilterIntervalText() }}</strong>.
    </div>

</div>