<div class="form-group">
    <label for="inputDate" class="col-sm-2 control-label">Date time</label>
    <div class="col-sm-4">
        <p class="input-group">
            <input
                    type="text"
                    id="inputDate"
                    class="form-control"
                    ng-model="newGame.date"
                    uib-datepicker-popup="yyyy-MM-dd"
                    min-date="pickerCtrl.datepicker.minDate"
                    max-date="pickerCtrl.datepicker.maxDate"
                    is-open="pickerCtrl.datepicker.status.opened"
                    datepicker-options="pickerCtrl.datepicker.options"
                    show-weeks="false"
                    show-button-bar="false"
                    ng-required="true"
                    close-text="Close"
            />
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="pickerCtrl.openDatepicker()"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
        </p>
    </div>
    <div class="col-sm-4">
        <uib-timepicker
                ng-model="newGame.date"
                hour-step="1"
                minute-step="15"
                show-meridian="false"
                show-spinners="false"
        ></uib-timepicker>
    </div>
</div>
