<new-game-form></new-game-form>

<h4 class="text-center" ng-show="teams">Coming games of your teams</h4>

<div class="alert alert-info" role="alert" ng-show="infoMessage">
    {{infoMessage}}
    <button type="button" class="close" aria-label="Close" ng-click="infoMessage=''"><span aria-hidden="true">&times;</span></button>
</div>

<div class="panel panel-default" ng-repeat="team in teams">
    <div class="panel-heading">
        <h3 class="panel-title">
            <sport-icon sport="{{team.sport}}"></sport-icon>
            {{team.name}}
            <span class="pull-right">
                <button class="btn btn-xs btn-info" ng-click="gamesCtrl.showNewGameForm(team.id)"><i class="glyphicon glyphicon-plus"></i> Game</button>
            </span>
        </h3>
    </div>
    <div class="panel-body">

        <div ng-hide="team.games.length">No planned games.</div>

        <table class="table table-hover" ng-show="team.games.length">
            <thead>
                <tr>
                    <th width="20%">When</th>
                    <th>Where</th>
                    <th>Info</th>
                    <th width="15%">Presence</th>
                    <th width="5%"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="game in team.games">
                    <td>{{game.datetime.replace(' ', 'T') | date:'H:mm, MMMM d'}}</td>
                    <td>{{game.location}}</td>
                    <td>{{game.title}}</td>
                    <td>
                        <button class="btn btn-xs btn-success">Join</button>
                        <button class="btn btn-xs btn-danger">Deny</button>
                    </td>
                    <td><a href="" ng-click="gamesCtrl.removeGame(game.id, team.id)"><span class="glyphicon glyphicon-remove" aria-hidden="true" title="Remove game"></span></a></td>
                </tr>
            </tbody>
        </table>

    </div>
</div>