    <div class="jumbotron">
        <h1>Team orginizer</h1>
        <p class="lead">Tired call every team player asking if he will be at the game today? Just register your team, add all buddies and let them report their presence by itself. See full game's presense report and all incoming games just on your page.</p>
        <p><a class="btn btn-lg btn-success" href="#/register" role="button">Sign up today</a></p>
    </div>

    <div class="row marketing">
        <div class="col-lg-6">
            <h4>Team</h4>
            <p>Add your team(s) and see who will be on the game today.</p>

            <h4>Player</h4>
            <p>Report your own presense or join several players if you are sure they will come.</p>
        </div>

        <div class="col-lg-6">
            <h4>Game</h4>
            <p>Add incoming games, see remainders and schedule.</p>

            <h4>Report</h4>
            <p>See full report about game's presense, and push budy if there not enough players for the game.</p>

        </div>
    </div>